@{
    var controller = ViewContext.RouteData.Values["controller"]?
            .ToString()?
            .ToLower()
            ?? String.Empty;

    var area = ViewContext.RouteData.Values["admin"]?
            .ToString()?
            .ToLower()
            ?? String.Empty;
}


<a class="navbar-brand" asp-controller="home"
   asp-action="index">WebLabsV03</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="home"
       asp-action="Index">Лб 1</a>
    <a class="nav-item nav-link @(controller == "product" ? "active" : "")" asp-controller="product"
       asp-action="index">Каталог</a>
    <a class="nav-item nav-link @(area == "admin" ? "active" : "")" asp-area="Admin"
       asp-page="/index">Администрирование</a>
</div>